{% extends 'base.html.twig' %}
{% block title  %}
    Operations
{% endblock %}
{% block js %}
    {{ parent() }}
    <script src="/assets/js/plugins/notifications/bootbox.min.js"></script>
    <script src="/ssets/js/plugins/forms/selects/select2.min.js"></script>
    <script src="/assets/js/demo_pages/components_modals.js"></script>
{% endblock %}
{% block body %}
    <!-- Content area -->
    <div class="content">

        <!-- HTML sourced data -->
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title">Operations Table</h5>
                <div class="header-elements">
                    <div class="list-icons">
                        <a class="list-icons-item" data-action="collapse"></a>
                        <a class="list-icons-item" data-action="reload" href="{{ path('operations') }}"></a>
                    </div>
                </div>
            </div>

            <table class="table datatable-html">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Price</th>
                    <th>Description</th>
                    <th>Activity</th>
                    <th>BudgetLine</th>
                    <th> Consulter</th>
                    <th>Update</th>
                    <th>&ensp;&ensp;&ensp;&ensp;Delete</th>
                </tr>
                </thead>
                <tbody>
                {% for operation in operations %}
                    <tr>
                        <td>{{ operation.name }}</td>
                        <td> {{ operation.date|date('d-m-Y h-m-s') }}</td>
                        <td>{{ operation.price }}</td>
                        <td>{{ operation.description }}</td>
                        <td>{{ operation.activity }}</td>
                        <td>{{ operation.budgetLine }}</td>
                        <td>
                            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#{{ operation.id }}">Consult <i class="icon-play3 ml-2"></i></button>
                        </td>
                        <td>
                            <a href={{ path('updateOperation', {'id': operation.id }) }}>
                                <button type="button" class="btn bg-brown-300" >update </button>
                            </a>
                        </td>
                        <td>&ensp;
                            <button type="button" class="btn bg-danger" data-toggle="modal" data-target="#ss{{ operation.id }}">
                                Delete
                            </button>


                        </td>

                    </tr>

                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
    {% for operation in operations %}
    <!-- Horizontal form modal -->
    <div id="{{ operation.id }}" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"> {{ operation.name }}</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <form action="#" class="form-horizontal" onsubmit="return false;">
                    <div class="modal-body">
                        <div class="form-group row">
                            <label class="col-form-label col-sm-3">Name :</label>
                            <div class="col-sm-9">
                                <input type="text" placeholder="{{ operation.name }}" class="form-control" disabled>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-form-label col-sm-3">Date :</label>
                            <div class="col-sm-9">
                                <input type="text" placeholder="{{ operation.date|date('d-m-Y h-m-s') }}" class="form-control" disabled>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-form-label col-sm-3">Price :</label>
                            <div class="col-sm-9">
                                <input type="text" placeholder="{{ operation.price }}" class="form-control" disabled>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-form-label col-sm-3"> Description :</label>
                            <div class="col-sm-9">
                                <input type="text" placeholder="{{ operation.description }}"  class="form-control" disabled>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-form-label col-sm-3">Activity :</label>
                            <div class="col-sm-9">
                                <input type="text" placeholder="{{ operation.activity }}" class="form-control" disabled>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-form-label col-sm-3">Budget Line :</label>
                            <div class="col-sm-9">
                                <input type="text" placeholder="{{ operation.budgetLine }}" class="form-control" disabled>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                        <a href="{{ path('updateOperation', {'id': operation.id }) }}"> Update </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /horizontal form modal -->
        <!-- Danger modal -->
        <div id="ss{{ operation.id }}" class="modal fade" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header bg-danger">
                        <h6 class="modal-title">Confirm Deletion</h6>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <div class="modal-body">
                        <h6 class="font-weight-semibold">Do you want to delete the operation{{ operation.name}} ?</h6>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                        <a href={{ path('deleteOperation', {'id': operation.id }) }}>
                            <button type="button" class="btn bg-danger">Delete</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}

