{% extends 'base.html.twig' %}
{% block title %}
    Update Operation
{% endblock %}
{% block body %}
    <br><br><br>
    {{ form_start(form,{'attr': {'class':'form-validate-jquery'}}) }}
    <div class="content">
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <fieldset class="mb-3">
                        <legend class="text-uppercase font-size-l font-weight-bold">Update  {{ title}} </legend>
                        <div class="form-group row">
                            <label class="col-form-label col-lg-2">Name :</label>
                            <div class="col-lg-10">
                                {{ form_widget(form.name, {'attr' : {'class': 'form-control', 'placeholder':'Nom'},'required':'true'})}}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-lg-2">Date :</label>
                            <div class="col-lg-10">
                                {{ form_widget(form.date, {'attr' : {'class': 'form-control'},'required':'true'})}}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-lg-2">Price :</label>
                            <div class="col-lg-10">
                                {{ form_widget(form.price, {'attr' : {'class': 'form-control', 'placeholder':'Enter The Price'} ,'required':'true'})}}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-lg-2">Description :</label>
                            <div class="col-lg-10">
                                {{ form_widget(form.description, {'attr' : {'class': 'form-control', 'placeholder':'Enter The description'} ,'required':'true'})}}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-lg-2">Activity :</label>
                            <div class="col-lg-10">
                                {{ form_widget(form.activity, {'attr' : {'class': 'form-control'} ,'required':'true'})}}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-lg-2">BudgetLine :</label>
                            <div class="col-lg-10">
                                {{ form_widget(form.budgetLine, {'attr' : {'class': 'form-control'} ,'required':'true'})}}
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
       </div>
        <button type="submit" class="btn btn-secondary" style="float:right;">Update <i class="icon-checkmark3 font-size-base mr-1"></i></button>
    </div>
    {{ form_end(form) }}
    <div class="content">

        <!-- HTML sourced data -->
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title">PaymentTranches Table</h5>
                <div class="header-elements">
                    <div class="list-icons">
                        <a class="list-icons-item" data-action="collapse"></a>
                        <a class="list-icons-item" data-action="reload" href="{{ path('paymentTranches') }}"></a>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <a href="{{ path("createPaymentTranche") }}"> <button type="submit" class="btn btn-secondary" style="float:left;"> Add Payment Tranche </button></a>
            </div>

            <table class="table datatable-html">
                <thead>
                <tr>
                    <th>Value</th>
                    <th>Operation</th>
                    <th>Payment Type</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                {% for paymentTranche in paymentTranches %}
                    <tr>
                        <td>{{ paymentTranche.value }}</td>
                        <td> {{paymentTranche.operation }}</td>
                        <td> {{paymentTranche.paymentType }}</td>
                        <td>
                            <a href={{ path('updatePaymentTranche', {'id': paymentTranche.id }) }}>
                                <button type="button" class="btn bg-brown-300" >update </button>
                            </a>
                        </td>
                        <td>
                            <button type="button" class="btn bg-danger" data-toggle="modal" data-target="#{{ paymentTranche.id }}">
                                Delete
                            </button>
                        </td>

                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
    <!-- Content area -->
    <div class="content">

        <!-- HTML sourced data -->
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title">PaymentTraces Table</h5>
                <div class="header-elements">
                    <div class="list-icons">
                        <a class="list-icons-item" data-action="collapse"></a>
                        <a class="list-icons-item" data-action="reload" href="{{ path('paymentTraces') }}"></a>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <a href="{{ path("createPaymentTrace") }}"> <button type="submit" class="btn btn-secondary" style="float:left;"> Add PaymentTraces </button></a>
            </div>

            <table class="table datatable-html">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Operation</th>
                    <th>File</th>
                    <th>Trace Type</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                {% for paymentTrace in paymentTraces %}
                    <tr>
                        <td>{{ paymentTrace.name }}</td>
                        <td>{{ paymentTrace.operation }}</td>
                        <td><a href="{{ asset('uploads/tracesPDF/' ~paymentTrace.file) }}">View File (PDF)</a>
                        <td>  {{ paymentTrace.traceType }}</td>
                        <td>
                            <a href={{ path('updatePaymentTrace', {'id': paymentTrace.id }) }}>
                                <button type="button" class="btn bg-brown-300" >update </button>
                            </a>
                        </td>
                        <td>
                            <button type="button" class="btn bg-danger" data-toggle="modal" data-target="#{{ paymentTrace.id }}">
                                Delete
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% for paymentTrace in paymentTraces %}
        <!-- Danger modal -->
        <div id="{{ paymentTrace.id }}" class="modal fade" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header bg-danger">
                        <h6 class="modal-title">Confirm Deletion</h6>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <div class="modal-body">
                        <h6 class="font-weight-semibold">Do you want to delete the payment trace {{ paymentTrace.name}} ?</h6>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                        <a href={{ path('deletePaymentTrace', {'id': paymentTrace.id }) }}>
                            <button type="button" class="btn bg-danger">Delete</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    {% for paymentTranche in paymentTranches %}
        <!-- Danger modal -->
        <div id="{{ paymentTranche.id }}" class="modal fade" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header bg-danger">
                        <h6 class="modal-title">Confirm Deletion</h6>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <div class="modal-body">
                        <h6 class="font-weight-semibold">Do you want to delete this payment tranche  ?</h6>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                        <a href={{ path('deletePaymentTranche', {'id': paymentTranche.id }) }}>
                            <button type="button" class="btn bg-danger">Delete</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}