{% extends 'base.html.twig' %}
{% block title  %}
    BudgetLines
{% endblock %}
{% block body %}
    <!-- Content area -->
    <div class="content">

        <!-- HTML sourced data -->
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title">BudgetLines Table</h5>
                <div class="header-elements">
                    <div class="list-icons">
                        <a class="list-icons-item" data-action="collapse"></a>
                        <a class="list-icons-item" data-action="reload" href="{{ path('budgetLines') }}"></a>
                    </div>
                </div>
            </div>

            <table class="table datatable-html">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Percentage</th>
                    <th>Project</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                {% for budgetLine in budgetLines %}
                    <tr>
                        <td>{{ budgetLine.name }}</td>
                        <td> {{ budgetLine.percentage }}</td>
                        <td>{{ budgetLine.project }}</td>
                        <td>
                            <a href={{ path('updateBudgetLine', {'id': budgetLine.id }) }}>
                                <button type="button" class="btn bg-brown-300" >update </button>
                            </a>
                        </td>
                        <td>
                            <button type="button" class="btn bg-danger" data-toggle="modal" data-target="#{{ budgetLine.id }}">
                                Delete
                            </button>
                        </td>
                    </tr>

                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
    {% for budgetLine in budgetLines %}
        <!-- Danger modal -->
        <div id="{{ budgetLine.id }}" class="modal fade" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header bg-danger">
                        <h6 class="modal-title">Confirm Deletion</h6>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <div class="modal-body">
                        <h6 class="font-weight-semibold">Do you want to delete the budgetLine {{ budgetLine.name}} ?</h6>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                        <a href={{ path('deleteBudgetLine', {'id': budgetLine.id }) }}>
                            <button type="button" class="btn bg-danger">Delete</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}