{% extends 'base.html.twig' %}
{% block title %}
    {% if editMode %} Update {% else %} Create  {% endif %}
    {{ title }}
{% endblock %}
{% block js %}
    {{ parent() }}
    <script src="/assets/js/plugins/visualization/echarts/echarts.min.js"></script>
    <script src="/assets/js/demo_pages/charts/echarts/pies_donuts.js"></script>
{% endblock %}
{% block body %}
    <br><br><br>
    <div class="content">
        <div class="row">
            <div class="col-lg-6">
                {{ form_start(form,{'attr': {'class':'form-validate-jquery', 'novalidate': 'novalidate'}}) }}

                <div class="card">
                    <div class="card-body">
                        <fieldset class="mb-3">
                            <legend class="text-uppercase font-size-l font-weight-bold">
                                {% if editMode %} Update {{ title }} {% else %} Create  {{ title }} for {{ proj_name }} Project {% endif %}
                            </legend>
                            {{ form_rest(form) }}
                            <button type="submit" class="btn btn-secondary"
                                    style="float:right;">{% if editMode %} Save {% else %} Create ! {% endif %}<i
                                        class="icon-checkmark3 font-size-base mr-1"></i></button>
                        </fieldset>
                    </div>
                </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>

    {% if title == "BudgetLine" and editMode %}
        <div class="content">
            <div class="card">
                <div class="card-header header-elements-inline">
                    <h5 class="card-title">BudgetLine Percentage :</h5>
                </div>
                <div class="card-body">
                    <h4>Used Budget :</h4>
                    <p>{{ used }}</p>
                    <h4>Available Budget :</h4>
                    <p>{{ available }}</p>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}