{% extends 'base.html.twig' %}
{% block title  %}
    PaymentTypes
{% endblock %}
{% block body %}
    <!-- Content area -->
    <div class="content">

        <!-- HTML sourced data -->
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title">PaymentTypes Table</h5>
                <div class="header-elements">
                    <div class="list-icons">
                        <a class="list-icons-item" data-action="collapse"></a>
                        <a class="list-icons-item" data-action="reload" href="{{ path('paymentTypes') }}"></a>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <a href="{{ path("createPaymentType") }}"> <button type="submit" class="btn btn-secondary" style="float:left;"> Add PaymentTypes </button></a>
            </div>

            <table class="table datatable-html">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Limitation</th>
                    <th>Update</th>
                    <th>  &ensp;Delete</th>
                </tr>
                </thead>
                <tbody>
                {% for paymentType in paymentTypes %}
                    <tr>
                        <td>{{ paymentType.name }}</td>
                        <td> {{ paymentType.limitation }}</td>
                        <td>
                            <a href={{ path('updatePaymentType', {'id': paymentType.id }) }}>
                                <button type="button" class="btn bg-brown-300" >update </button>
                            </a>
                        </td>
                        <td>
                            <button type="button" class="btn bg-danger" data-toggle="modal" data-target="#{{ paymentType.id }}">
                                Delete
                            </button>
                        </td>

                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
    {% for paymentType in paymentTypes %}
        <!-- Danger modal -->
        <div id="{{ paymentType.id }}" class="modal fade" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header bg-danger">
                        <h6 class="modal-title">Confirm Deletion</h6>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <div class="modal-body">
                        <h6 class="font-weight-semibold">Do you want to delete the payment type {{ paymentType.name}} ?</h6>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                        <a href={{ path('deletePaymentType', {'id': paymentType.id }) }} >
                            <button type="button" class="btn bg-danger">Delete</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
