{% extends 'base.html.twig' %}
{% block title %}
    Clients List
{% endblock %}
{% block body %}
    <!-- Content area -->
    <div class="content">

        <!-- HTML sourced data -->
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title">Clients Table</h5>
                <div class="header-elements">
                    <div class="list-icons">
                        <a class="list-icons-item" data-action="collapse"></a>
                        <a class="list-icons-item" data-action="reload" href="{{ path('clients') }}"></a>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <a href="{{ path("createClient") }}"> <button type="submit" class="btn btn-secondary" style="float:left;"> Add Client </button></a>
            </div>

            <table class="table datatable-html">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Phone</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                {% for client in clients %}
                    <tr>
                        <td>{{ client.name }}</td>
                        <td>{{ client.email }}</td>
                        <td>{{ client.address }}</td>
                        <td>{{ client.phone }}</td>
                        <td>

                            <a href={{ path('update_client', {'id': client.id }) }}>
                                <button type="button" class="btn bg-brown-300" >update </button>
                            </a>
                        </td>
                        <td>
                            <button type="button" class="btn bg-danger" data-toggle="modal" data-target="#ss{{ client.id }}">
                                Delete
                            </button>

                        </td>
                    </tr>

                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
    {% for client in clients %}
        <!-- Danger modal -->
        <div id="ss{{ client.id }}" class="modal fade" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header bg-danger">
                        <h6 class="modal-title">Confirm Deletion</h6>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <div class="modal-body">
                        <h6 class="font-weight-semibold">Do you want to delete the client {{ client.name}} ?</h6>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                        <a href={{ path('delete_client', {'id': client.id }) }}>
                            <button type="button" class="btn bg-danger">Delete</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}

