{% extends 'base.html.twig' %}
{% block title %}
    {% if editMode  %} Update {% else  %} Create  {% endif %}
    {{ title }}
{% endblock %}
{% block body  %}
    <br><br><br>
            {{ form_start(form,{'attr': {'class':'form-validate-jquery', 'novalidate': 'novalidate'}}) }}
    <div class="content">
    <div class="card">
    <div class="card-body">
    <fieldset class="mb-3">
    <legend class="text-uppercase font-size-l font-weight-bold">{% if editMode  %} Update {% else  %} Create  {% endif %} {{ title}} </legend>
            {{ form_rest(form) }}
        <button type="submit" class="btn btn-secondary" style="float:right;">{% if editMode  %} Save {% else  %} Create ! {% endif %}<i class="icon-checkmark3 font-size-base mr-1"></i></button>
    </fieldset>
    </div>
    </div>
    </div>
            {{ form_end(form) }}
{% endblock %}