{% extends 'base.html.twig' %}
{% block title %}
    {% if editMode %} Update {% else %} Create  {% endif %}
    {{ title }}
{% endblock %}
{% block js %}
    {{ parent() }}
    <script src="/assets/js/plugins/visualization/echarts/echarts.min.js"></script>
    <script src="/assets/js/demo_pages/charts/echarts/pies_donuts.js"></script>
{% endblock %}
{% block body %}
    <br><br><br>
    <div class="content">
        <div class="row">
            <div class="col-lg-6">
                {{ form_start(form,{'attr': {'class':'form-validate-jquery'}}) }}

                <div class="card">
                    <div class="card-body">
                        <fieldset class="mb-3">
                            <legend class="text-uppercase font-size-l font-weight-bold">{% if editMode %} Update {% else %} Create  {% endif %} {{ title }}
                            </legend>
                            {{ form_rest(form) }}
                            <button type="submit" class="btn btn-secondary"
                                    style="float:right;">{% if editMode %} Save {% else %} Create ! {% endif %}<i
                                        class="icon-checkmark3 font-size-base mr-1"></i></button>
                        </fieldset>
                    </div>
                </div>

                {{ form_end(form) }}
            </div>
            {% if  editMode %}
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header header-elements-inline">
                            <h5 class="card-title">Basic pie chart</h5>
                            <div class="header-elements">
                                <div class="list-icons">
                                    <a class="list-icons-item" data-action="collapse"></a>
                                    <a class="list-icons-item" data-action="reload"></a>
                                    <a class="list-icons-item" data-action="remove"></a>
                                </div>
                            </div>
                        </div>

                        <div class="card-body">
                            <div class="chart-container">
                                <div class="chart has-fixed-height" id="pie_basic"></div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    {% if editMode %}
        <div class="content">
            <div class="card">
                <div class="card-header header-elements-inline">
                    <h5 class="card-title">BudgetLines Percentage :</h5>
                </div>
                <div class="card-body">
                    {% for budget in projectBudgets %}
                        <h4>{{ budget.name }}</h4>
                        <h6>{{ budget.percentage }}</h6>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="content">
            <div class="card">
                <div class="card-header header-elements-inline">
                    <h5 class="card-title">Operations :</h5>
                </div>
                <div class="card-body">
                    <a href={{ path('createOperation',{'id':project.id}) }}>
                        <button type="submit" class="btn btn-secondary" style="float:left;"> Add Operation</button>
                    </a>
                </div>
                <table class="table datatable-html">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Date</th>
                        <th>Price</th>
                        <th>Description</th>
                        <th>Activity</th>
                        <th>BudgetLine</th>
                        <th> Consulter</th>
                        <th>Update</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for operation in operations %}
                        <tr>
                            <td>{{ operation.name }}</td>
                            <td> {{ operation.date|date('d-m-Y h-m-s') }}</td>
                            <td>{{ operation.price }}</td>
                            <td>{{ operation.description }}</td>
                            <td>{{ operation.activity }}</td>
                            <td>{{ operation.budgetLine }}</td>
                            <td>
                                <button type="button" class="btn btn-secondary" data-toggle="modal"
                                        data-target="#{{ operation.id }}">Consult <i class="icon-play3 ml-2"></i>
                                </button>
                            </td>
                            <td>
                                <a href={{ path('updateOperation', {'id': operation.id }) }}>
                                    <button type="button" class="btn bg-brown-300" >update </button>
                                </a>
                            </td>
                            <td>
                                <button type="button" class="btn bg-danger" data-toggle="modal" data-target="#ss{{ operation.id }}">
                                    Delete
                                </button>


                            </td>

                        </tr>

                    {% endfor %}

                    </tbody>
                </table>
                {% for operation in operations %}
                    <!-- Horizontal form modal -->
                    <div id="{{ operation.id }}" class="modal fade" tabindex="-1">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title"> {{ operation.name }}</h5>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>

                                <form action="#" class="form-horizontal" onsubmit="return false;">
                                    <div class="modal-body">
                                        <div class="form-group row">
                                            <label class="col-form-label col-sm-3">Name :</label>
                                            <div class="col-sm-9">
                                                <input type="text" placeholder="{{ operation.name }}"
                                                       class="form-control" disabled>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-form-label col-sm-3">Date :</label>
                                            <div class="col-sm-9">
                                                <input type="text"
                                                       placeholder="{{ operation.date|date('d-m-Y h-m-s') }}"
                                                       class="form-control" disabled>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-form-label col-sm-3">Price :</label>
                                            <div class="col-sm-9">
                                                <input type="text" placeholder="{{ operation.price }}"
                                                       class="form-control" disabled>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-form-label col-sm-3"> Description :</label>
                                            <div class="col-sm-9">
                                                <input type="text" placeholder="{{ operation.description }}"
                                                       class="form-control" disabled>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-form-label col-sm-3">Activity :</label>
                                            <div class="col-sm-9">
                                                <input type="text" placeholder="{{ operation.activity }}"
                                                       class="form-control" disabled>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-form-label col-sm-3">Budget Line :</label>
                                            <div class="col-sm-9">
                                                <input type="text" placeholder="{{ operation.budgetLine }}"
                                                       class="form-control" disabled>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                                        <a href="{{ path('updateOperation', {'id': operation.id }) }}"> Update </a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- /horizontal form modal -->
                {% endfor %}
            </div>
        </div>
        <div class="content">

            <!-- HTML sourced data -->
            <div class="card">
                <div class="card-header header-elements-inline">
                    <h5 class="card-title">BudgetLines :</h5>
                    <div class="header-elements">
                        <div class="list-icons">
                            <a class="list-icons-item" data-action="collapse"></a>
                            <a class="list-icons-item" data-action="reload" href="{{ path('budgetLines') }}"></a>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <a href="{{ path("createBudgetLine",{'id':project.id }) }}">
                        <button type="submit" class="btn btn-secondary" style="float:left;"> Add BudgetLine</button>
                    </a>
                </div>

                <table class="table datatable-html">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Percentage</th>
                        <th>Project</th>
                        <th>Update</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for budgetLine in budgetLines %}
                        <tr>
                            <td>{{ budgetLine.name }}</td>
                            <td> {{ budgetLine.percentage }}</td>
                            <td>{{ budgetLine.project }}</td>
                            <td>
                                <a href={{ path('updateBudgetLine', {'id': budgetLine.id }) }}>
                                    <button type="button" class="btn bg-brown-300" >update </button>
                                </a>
                            </td>
                            <td>
                                <button type="button" class="btn bg-danger" data-toggle="modal" data-target="#b{{ budgetLine.id }}">
                                    Delete
                                </button>
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
        <div class="content">

            <!-- HTML sourced data -->
            <div class="card">
                <div class="card-header header-elements-inline">
                    <h5 class="card-title">Activities :</h5>
                    <div class="header-elements">
                        <div class="list-icons">
                            <a class="list-icons-item" data-action="collapse"></a>
                            <a class="list-icons-item" data-action="reload" href="{{ path('activities') }}"></a>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <a href="{{ path("createActivity", {'id': project.id}) }}">
                        <button type="submit" class="btn btn-secondary" style="float:left;"> Add Activity</button>
                    </a>
                </div>

                <table class="table datatable-html">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Project</th>
                        <th>Update</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for activity in activities %}
                        <tr>
                            <td>{{ activity.name }}</td>
                            <td>{{ activity.project }}</td>
                            <td>
                                <a href={{ path('updateActivity', {'id': activity.id }) }}>
                                    <button type="button" class="btn bg-brown-300" >update </button>
                                </a>
                            </td>
                            <td>
                                <button type="button" class="btn bg-danger" data-toggle="modal" data-target="#a{{ activity.id }}">
                                    delete
                                </button>

                            </td>

                        </tr>

                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
        {% for operation in operations %}
            <!-- Danger modal -->
            <div id="ss{{ operation.id }}" class="modal fade" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header bg-danger">
                            <h6 class="modal-title">Confirm Deletion</h6>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <div class="modal-body">
                            <h6 class="font-weight-semibold">Do you want to delete the operation{{ operation.name}} ?</h6>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                            <a href={{ path('deleteOperation', {'id': operation.id }) }}>
                                <button type="button" class="btn bg-danger">Delete</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% for budgetLine in budgetLines %}
            <!-- Danger modal -->
            <div id="b{{ budgetLine.id }}" class="modal fade" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header bg-danger">
                            <h6 class="modal-title">Confirm Deletion</h6>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <div class="modal-body">
                            <h6 class="font-weight-semibold">Do you want to delete the budgetLine {{ budgetLine.name}} ?</h6>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                            <a href={{ path('deleteBudgetLine', {'id': budgetLine.id }) }}>
                                <button type="button" class="btn bg-danger">Delete</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% for activity in activities %}
            <!-- Danger modal -->
            <div id="a{{ activity.id }}" class="modal fade" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header bg-danger">
                            <h6 class="modal-title">Confirm Deletion</h6>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <div class="modal-body">
                            <h6 class="font-weight-semibold">Do you want to delete the activity {{ activity.name}} ?</h6>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                            <a href={{ path('deleteActivity', {'id': activity.id }) }}>
                                <button type="button" class="btn bg-danger">Delete</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

    {% endif %}

{% endblock %}